*{
  box-sizing: border-box;
}
body{
  width: 100%;
  background-image:  url(../images/fondo.png);

}
/*******header********/
.bloque_header{
    width: 100%;
    height: 80px;
    background-color: rgba(80 , 80, 80,0.8);
    padding-top: 10px;
      border: 3px solid rgba(80 , 80, 80,1);
}
    header{


      background-color: rgba(255 , 255, 255,0.8);
      position: relative;
    }
    /********logo header********/
    .imagen_header{
      width: 20%;
      height: 50px;
      margin: 5px 20px;
      float: left;
    }
    /***********buscador header*******/
    .buscador{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin: 10px 20px;
    }
    .campo_buscar{
      width: 65%;
      height: 40px;
     border: 2px solid rgb(150 , 150, 150);
    }
    .boton_buscar, .boton_ingresar{
      width: 15%;
      height: 40px;
      background-color: rgb(150, 150, 150);
      border-radius: 10px;
    }
    /*********Login header********/
    .boton_ingresar{
      width: 25%;
    }
    .login{
      width: 25%;
      position:absolute;
      right: 3%;
      margin-left: 5%;
    }
    .ingreso{
      width: 100%;
      height: 45px;
      display: block;
    }
    .campo_login{
      width: 100%;
      display: block;
    }
    .campos{
        float: left;
    }
    a, span{
        margin-left: 5px;
      font-size: 1em;

    }
     /*******SECCION CENTRAL******/
        /*******SLIDER*******/
.bloque_central{
    width: 90%;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;

}

    .slider{
        margin-top: 0px;
        height: 456;
        margin-left: 0;
        background-color: rgba(78, 244, 0, 0.54);
    }
    .slider ul{
        display: flex;
        width: 330%;
        animation: cambio 20s infinite alternate;
    }
    .slider li{
        width: 100%;
        height: 100%;
        list-style: none;
    }
    .slider img{
        margin-top: 20px;
        margin-left: 0;
        width: 80vw;
        height: 400px;
    }
    @keyframes cambio {
        0%{margin-left: 0%;}
        30%{margin-left: 5%;}

        35%{margin-left: -110%;}
        60%{margin-left: -105%}

        65%{margin-left: -220%;}
        100%{margin-left: -215%}
    }
/***********TEXTO HOME*********/
.bloque_home{
    position: relative;
    width: 97%;
    height: inherit;
    background-color: rgba(80 , 80, 80,0.8);
    margin: 20px 1.5%;
    border: 3px solid rgba(80 , 80, 80,1);
    border-radius: 40px;
}
.texto_home p{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    /*margin: auto;*/
}
.texto_home a{
  font-size: 1em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/*************FOOTER***************/
.bloque_footer{
    position: relative;
    width: 100%;
    height: 160px;
    left: -5px;
    background-color: rgba(80 , 80, 80,1);
    border-radius: 15px;
     border: 3px solid rgba(80 , 80, 80,1);
}
.bloque_footer ul{

  float: left;
  font-size: 1.1em;
  margin: 0 5%;
}
.bloque_footer li{
  margin-top: 10px;
  font-weight: bold;
}
.bloque_footer div{
  display: block;
  width: 100%;
  height: 100px;
}
.bloque_footer a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.bloque_footer p{
  margin-left: 20px;
}
